MYSQL_ROOT_PASSWORD=beehome
MYSQL_DATABASE=beehome-tecnico-db
MYSQL_USER=beehome
MYSQL_PASSWORD=beehome
MYSQL_PORT=3306
CORS_ALLOWED_ORIGINS=http://localhost:4200,https://www.google.com.br
JWT_SECRET=me-mudar-para-algo-de-pelo-menos-32-bytes
