.shell-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.shell-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;

  > *:not(router-outlet) {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
